@import 'https://seminarna.ru/assets/css/main.css?v=20170828'


$color: #01414a



.section.seminars-filter
	background: url(https://seminarna.ru/assets/img/banner-right.jpg) right top no-repeat,linear-gradient(to left, #01414a, #01414a,  rgba(1, 65, 74, 0)), url(back.jpg) left top / contain  no-repeat 
	text-align: initial
	padding: 1.5rem 0 1.5rem
	@media (max-width: 1750px)
		background: url(https://seminarna.ru/assets/img/banner-right.jpg) 120% top no-repeat,linear-gradient(to left, #01414a, #01414a,  rgba(1, 65, 74, 0)), url(back.jpg) left top / contain  no-repeat 
	@media (max-width: 1530px)
		background: url(https://seminarna.ru/assets/img/banner-right.jpg) 150% top no-repeat,linear-gradient(to left, #01414a, #01414a,  rgba(1, 65, 74, 0)), url(back.jpg) left top / contain  no-repeat 
	@media (max-width: 1359px)
		background: url(https://seminarna.ru/assets/img/banner-right.jpg) 200% top no-repeat,linear-gradient(to left, #01414a, #01414a,  rgba(1, 65, 74, 0)), url(back.jpg) left top / contain  no-repeat 
	@media (max-width: 1200px)
		background: url(https://seminarna.ru/assets/img/banner-right.jpg) 500% top no-repeat,linear-gradient(to left, #01414a, #01414a,  rgba(1, 65, 74, 0)), url(back.jpg) left top / contain  no-repeat 
	@media (max-width: 1027px)
		background: url(https://seminarna.ru/assets/img/banner-right.jpg) right top/cover no-repeat,linear-gradient(to left, #01414a, #01414a,  rgba(1, 65, 74, 0)), url(back.jpg) left top / contain  no-repeat 
	.breadcrumbs, .h1
		text-align: initial
	.seminars-filter_name
		font-size: 1rem
		text-decoration: underline
		margin-bottom: 0
	.branch_name
		font-size: 30px
	

	#seminars_filter_form
		.filter-block
			margin: 1rem 0
			border: 2px solid white
			border-radius: 10px
			display: flex
			
			.filter-heading
				background-color: white
				padding: .545455rem
				color: $color
				margin: -2px
				border-radius: 10px 0 0 10px
				display: flex
				align-items: center
				// height: 2.32955rem
			.filter-item
				input
					border: 0!important
					outline: none
					box-shadow: none
					padding: 0
		.filter-step-2
			ul
				display: flex
				flex-wrap: wrap
				padding: 0
				margin: 0
				li 
					flex-basis: auto
					flex: 1
					display: flex
					align-items: center
					
					padding: .45455rem .85227rem
					// padding-right: .85227rem
					border-radius: 0
					border: 1px solid white
					&.active
						background-color: #32cde1
					a
						border: 0
						margin: 0
						color: white
						// height: 100%
						// width: 100%
						

					
		
